{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ 'admin.review'|trans }}</h2>

    <p>{{ 'admin.transition'|trans }} <strong>{{ transition }}</strong></p>
    <p>{{ 'admin.state.new'|trans }} <strong>{{ comment.state }}</strong></p>
{% endblock %}
