{% extends '@email/default/notification/body.html.twig' %}

{% block content %}
    {{ 'admin.conference'|trans }} {{ comment.conference }}<br />
    {{ 'admin.author'|trans }} {{ comment.author }}<br />
    {{ 'admin.email'|trans }} {{ comment.email }}<br />
    {{ 'admin.state'|trans }} {{ comment.state }}<br />

    <p>
        {{ comment.text }}
    </p>
{% endblock %}

{% block action %}
    <spacer size="16"></spacer>
    <button href="{{ url('review_comment', { id: comment.id }) }}">
      {{ 'admin.accept'|trans }}
    </button>
    <button href="{{ url('review_comment', { id: comment.id, reject: true }) }}">
      {{ 'admin.reject'|trans }}
    </button>
{% endblock %}
