{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook - {{ conference }}{% endblock %}

{% block body %}
    <h2>{{ conference }} Conference</h2>

    {% if comments|length > 0 %}

        <h3>Feedback</h3>
        <p>There are {{ comments|length }} comments.</p>

        {% for comment in comments %}
            {% if comment.photofilename %}
                <img src="{{ vich_uploader_asset(comment) }}" />
            {% endif %}

            <h4>{{ comment.author }}</h4>
            <small>
                {{ comment.createdAt|format_datetime() }}
            </small>

            <p>{{ comment.text }}</p>
        {% endfor %}

        {% if previous >= 0 %}
            <a href="{{ path('conference', {slug: conference.slug, offset: previous}) }}">Previous</a>
        {% endif %}
        {% if next < comments|length %}
            <a href="{{ path('conference', {slug: conference.slug, offset: next}) }}">Next</a>
        {% endif %}
    {% else %}
        <p>No comments have been posted yet for this conference.</p>
    {% endif %}

    <h3>Add your own feedback</h3>

    {{ form(comment_form) }}

{% endblock %}