{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook - {{ conference }}{% endblock %}

{% block body %}
    <h1>{{ conference }} Conference</h1>

    {% if comments|length > 0 %}

        <h2>Feedback</h2>
        <p>There are {{ comments|length }} comments.</p>

        {% for comment in comments %}
            {% if comment.photofilename %}
                <img src="{{ asset(photo_base ~ comment.photofilename) }}" />
            {% endif %}

            <h3>{{ comment.author }}</h3>
            <small>
                {{ comment.createdAt|format_datetime('medium', 'short') }}
            </small>

            <p>{{ comment.text }}</p>
        {% endfor %}

        {% if previous >= 0 %}
            <a href="{{ path('conference', {slug: conference.slug, offset: previous}) }}">Previous</a>
        {% endif %}
        {% if next < comments|length %}
            <a href="{{ path('conference', {slug: conference.slug, offset: next}) }}">Next</a>
        {% endif %}
    {% else %}
        <p>No comments have been posted yet for this conference.</p>
    {% endif %}

    <h2>Add your own feedback</h2>

    {{ form(comment_form) }}

{% endblock %}